[submodule "submodules/kmeans_pytorch"]
	path = submodules/kmeans_pytorch
	url = git@github.com:subhadarship/kmeans_pytorch.git

[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = git@github.com:graphdeco-inria/diff-gaussian-rasterization.git
